# registry=https://dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/
# always-auth=true

; begin auth token
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:username=dfe-ssp
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:_password=ZWlwazdpb3o3bWE1MnBmc2J6ejRpMm1rcm83NzM0bHdvczRmNGt4czVidDJ6Mmk0ZG9mcQ==
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/registry/:email=npm requires email to be set but doesn't use the value
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:username=dfe-ssp
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:_password=ZWlwazdpb3o3bWE1MnBmc2J6ejRpMm1rcm83NzM0bHdvczRmNGt4czVidDJ6Mmk0ZG9mcQ==
# //dfe-ssp.pkgs.visualstudio.com/_packaging/Signin-Default/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/

always-auth=true

; begin auth token
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:_password=azdvZWE1Z2czaGo1eWxhM25zcTY1N29leGozM2FoNDZ2cWJrd2c3dTVoeW53bmdrbTRqYQ==

//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/registry/:email=avinash.teky@gmail.com
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:username=sfa-gov-uk
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:_password=azdvZWE1Z2czaGo1eWxhM25zcTY1N29leGozM2FoNDZ2cWJrd2c3dTVoeW53bmdrbTRqYQ==
//sfa-gov-uk.pkgs.visualstudio.com/aa44e142-c0ac-4ace-a6b2-0d9a3f35d516/_packaging/DfESignin/npm/:email=avinash.teky@gmail.com
; end auth token